<mat-toolbar color="primary">
    <img src="image.png" alt="App Logo" class="app-logo">
  <a routerLink="/issues" class="app-title-link">
    <span>
      Laboratorios UTESA</span>
  </a>
  
  <span class="spacer"></span>
  @if (authService.isLoggedIn()) {
  <span class="welcome-message" style="margin-left: 1%;">
    Usuario: {{ authService.currentUser()?.username }}
  </span>
  <button mat-button (click)="authService.logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
  } @else {
  <span class="spacer"></span>
  <button mat-button routerLink="/login">
    <mat-icon>login</mat-icon> Login
  </button>
  
<div style="margin-left: auto;"></div>
    <span>Reportar una averia sin usurio</span>
    <button style="margin-left: 2%;" mat-raised-button color="accent" routerLink="/submit-issue">
      <mat-icon>add</mat-icon> Nueva averia 
    </button>
  
  }
</mat-toolbar>


<div class="main-content">
  <router-outlet></router-outlet>
</div>