@use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap.scss";

@include mat.core();

$myapp-theme-primary: mat.m2-define-palette(mat.$m2-green-palette, 500, 300, 700);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-amber-palette,500, 300, 700);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  )
));


@include mat.all-component-themes($myapp-theme);



/* You can add global custom styles here, or import other style sheets */

// Explicitly set the body background to white
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white; /* Ensures the main page background is white */
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .sidebar {
    display: none;
  }
    .app-logo {
    max-height: 24px; // Logo un poco más pequeño en móviles
    margin-right: 8px; // Menos margen
  }

  .app-title {
    font-size: 1em; // Título más pequeño en móviles
    // Si quieres ocultar el título por completo en 'xs', descomenta la siguiente línea:
    // display: none;
  }

  .container {
    flex-direction: column;
  }
}

// Custom snackbar styling (from previous steps)
.notification-snackbar {
  background-color: #2196f3 !important;
  color: white !important;

  .mat-button {
    color: white !important;
    font-weight: bold;
  }
}