@use '@angular/material' as mat;
@include mat.core();

$myapp-theme-primary: mat.m2-define-palette(mat.$m2-green-palette, 500, 300, 700);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-amber-palette,500, 300, 700);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  )
));


@include mat.all-component-themes($myapp-theme);

/* You can add global custom styles here, or import other style sheets */

// Explicitly set the body background to white
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white; /* Ensures the main page background is white */
}

// Custom snackbar styling (from previous steps)
.notification-snackbar {
  background-color: #2196f3 !important;
  color: white !important;

  .mat-button {
    color: white !important;
    font-weight: bold;
  }
}